/* CONTAINERS */

.dark{
    background-color: #15202b;
}

.dark div{
    background-color: #15202b;
}

.card {
    border: solid 1px #8899A6;
}

.dark .card-header {
    background-color: #22303C;
    border-bottom: solid 1px #8899A6;
}

/* TEXT */

.dark h1 {
    color: white;
}

.dark label, .dark h5 {
    color: #8899A6;
}

/* FORM */
.dark input{
    background-color: #8899A6;
}

.dark #amount {
    background-color: #22303C;
}

/* TOGGLE */

div.toggle{
    margin-top: .5em;
    margin-bottom: .5em;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

