/* CONTAINERS */
.dark {
  min-height: 100vh;
}

.card {
  border: solid 1px #8899a6;
}
.dark .card{
  background-color: #2a2a2a;
}

.dark .card-header {
  background-color: #22303c;
  border-bottom: solid 1px #8899a6;
}

.dark h1 {
  color: white;
}

.dark label,
.dark h5 {
  color: #c9d0d5;
}

/* FORM */
.dark input {
  background-color: #8899a6;
}

.dark #amount {
  background-color: #22303c;
}

.dark #copyTarget {
  background-color: #22303c;
  color: white;
}

div.toggle {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}



.light::before {
  content: '';
  background: url('./img/4436009_93190.jpg') no-repeat center center/cover;
  position: fixed;
  opacity: 1;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.dark::before {
  content: '';
  background: url('./img/4436009_93190.jpg') no-repeat center center/cover;
  filter: invert(100%);
  position: fixed;
  opacity: 1;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
